/*
* Copyright © 2020. TIBCO Software Inc.
* This file is subject to the license terms contained
* in the license file that is distributed with this file.
*/
* {
    box-sizing: border-box;
}

html,
body,
#mod-container {
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
    user-select: none;
    display: flex;
    justify-self: center;
    align-items: center;
    overflow-y: auto;
    font-family: sans-serif;
}

svg {
    display: block;
}

.rectangle {
    fill: #85A2CB;
    stroke: #313336;
    fill-opacity: 0.5;
    stroke-opacity: 1;
    stroke-width: 0.5;
}

.outerSectorArc {
    fill: #db4d37;
}

.line-hover {
    fill: transparent;
    opacity: 0.8;
}

#center {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#center-text, #center-color{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#center-text {
    font-weight: bold;
}
